.min-height-textarea {
  min-height: 200px
}

.margin-bottom {
  margin-bottom: 10px;
}

.license_info {
    display: block;
    margin-left: 150px;
    margin-bottom: 10px;
    padding: 0;
}

.license_info li {
    list-style: none;
}

.license_label {
    float: left;
    width: 140px;
}

.panel-margin {
	margin: 10px;
}

.colorpicker_box_color {
  display: block;
  width: 15px;
  height: 15px;
}