#megamenu-menu .dropdown-menu {
    padding-bottom: 0;
    width: 100%;
}
#megamenu-menu .dropdown-inner {
    /* display: table; */
    padding: 18px 12px;
    /* display: flex; */
}
.megamenu-parent-img img {
    width: 100%;
}
#megamenu-menu .dropdown-inner ul {
    /* display: table-cell; */
}
#megamenu-menu .megamenu-parent-block a.megamenu-parent-img {
    padding: 0;
    margin: 0 0 15px;
    font-size: 0;
}
#megamenu-menu .dropdown-inner a {
    display: block;
    padding: 5px 0;
    clear: both;
    line-height: 20px;
    /* color: #333; */
    font-size: 13px;
}
#megamenu-menu #category {
	margin-left: 15px;
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
}
#megamenu-menu .btn-navbar {
    font-size: 18px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 0;
    float: left
}
#megamenu-menu .btn-navbar:hover,
#megamenu-menu .btn-navbar:focus,
#megamenu-menu .btn-navbar:active,
#megamenu-menu .btn-navbar.disabled,
#megamenu-menu .btn-navbar[disabled] {
    color: #fff
}
@media (min-width: 992px) {
    #megamenu-menu .dropdown-menu {
        display: block;
        padding-bottom: 0;
        opacity: 0;
        position: absolute;
        top: -9999px;
        left: 0;
        right: 32px;
        -webkit-transition: opacity .3s ease-in-out;
        -moz-transition: opacity .6s ease-in-out;
        -o-transition: opacity .6s ease-in-out;
        /* border-radius: 0; */
    }
    #megamenu-menu .dropdown:hover .dropdown-menu {
        opacity: 1;
        top: 47px;
        padding: 0;
    }
    .new-drop {
        /* position: static!important; */
    }
    #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li {
        position: relative
    }
    #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li ul {
        display: none!important
    }
    #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li {
        list-style: none!important
    }
    #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li:hover > ul {
        display: block!important;
        position: absolute!important;
        top: 0!important;
        left: 100%!important
    }
    #megamenu-menu .megamenu-type-category-simple .megamenu-issubchild {
        background-image: url(/catalog/view/theme/storeset/image/arrow_right.png);
        background-position: 96% center;
        background-repeat: no-repeat
    }
    #megamenu-menu .megamenu-type-category-simple .megamenu-ischild {
        background-clip: padding-box;
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
        font-size: 14px;
        list-style: outside none none;
        min-width: 160px;
        z-index: 1001
    }
    #megamenu-menu .megamenu-type-product .megamenu-parent-block {
        display: inline-block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        vertical-align: top;
        width: 160px
    }
    #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-block {
        display: inline-block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        vertical-align: top;
        width: 120px
    }
    #megamenu-menu .megamenu-type-category-full .megamenu-parent-block {
        display: inline-block;
        /* margin-left: 10px; */
        /* margin-top: 10px; */
        /* margin-bottom: 20px; */
        vertical-align: top;
        float: left;
        width: 20%;
        padding: 1%;
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-block {
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        vertical-align: top;
        width: 120px
    }
    #megamenu-menu .megamenu-type-product .megamenu-parent-title {
        display: block;
        padding: 5px;
        text-decoration: none
    }
    #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-title {
        display: block;
        padding: 5px;
        text-decoration: none;
        font-size: 14px
    }
    #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-img img {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ececec;
        border-radius: 3px
    }
    #megamenu-menu .megamenu-type-product .megamenu-parent-img img {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ececec;
        border-radius: 3px
    }
    #megamenu-menu .megamenu-type-manufacturer a:hover {
        background: none!important;
        color: #333!important
    }
    #megamenu-menu .megamenu-type-product a:hover {
        background: none!important;
        color: #333!important
    }
    #megamenu-menu .megamenu-type-category-full .megamenu-parent-title {
        /* border-bottom: 1px solid #eee; */
        /* display: block; */
        /* padding: 5px; */
        /* text-decoration: none; */
        /* font-weight: 700; */
        /* font-size: 14px; */
        display: block;
        margin: 0 0 10px;
        border-bottom: 3px solid var(--color1);
        padding: 0 0 5px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-title:hover {
        text-decoration: underline
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-title {
        border-bottom: 1px solid #eee;
        display: block;
        padding: 5px;
        text-decoration: none
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-img img {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ececec;
        border-radius: 3px
    }
    #megamenu-menu .megamenu-type-category-full .parent-title-toggle {
        /* background: none!important; */
        /* color: #333!important */
        display: none;
    }
    #megamenu-menu .megamenu-type-category-full-image a:hover {
        color: #333!important;
        background: none!important
    }
    #megamenu-menu .megamenu-type-manufacturer a.megamenu-parent-title:hover {
        text-decoration: underline
    }
    #megamenu-menu .megamenu-type-product a.megamenu-parent-title:hover {
        text-decoration: underline
    }
    #megamenu-menu .megamenu-type-category-full .megamenu-ischild a:hover {
        /* text-decoration: underline */
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-ischild a:hover {
        text-decoration: underline
    }
    #megamenu-menu .megamenu-type-product a.megamenu-parent-img {
        padding: 0!important
    }
    #megamenu-menu .megamenu-type-manufacturer a.megamenu-parent-img {
        padding: 0!important
    }
    #megamenu-menu .megamenu-type-category-full-image a.megamenu-parent-img {
        padding: 0!important
    }
    #megamenu-menu .megamenu-type-category-simple .dropdown-inner {
        display: block!important
    }
    #megamenu-menu .megamenu-type-category-simple .megamenu-haschild {
        display: block!important
    }
    #megamenu-menu .megamenu-type-information .dropdown-inner {
        display: block!important
    }
    #megamenu-menu .megamenu-type-information .megamenu-haschild {
        display: block!important
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-title {
        border: 0;
        font-weight: 700
    }
    #megamenu-menu .megamenu-type-html {
        padding: 5px;
        right: auto
    }
    #megamenu-menu .megamenu-type-auth {
        padding: 5px
    }
    #megamenu-menu .megamenu-type-product .dropprice {
        color: #55b12b;
        font-size: 12px
    }
    #megamenu-menu .megamenu-type-product .dropprice span {
        margin-right: 3px;
        color: red;
        text-decoration: line-through
    }
    #megamenu-menu .megamenu-type-auth {
        padding: 10px;
        width: 217px
    }
    #megamenu-menu .megamenu-type-auth a {
        color: #23a1d1;
        padding: 0
    }
    #megamenu-menu .megamenu-type-auth a:hover {
        color: #23527c!important
    }
    #megamenu-menu .menu-add-html {
        display: inline-block;
        float: right;
        height: 100%;
        /* margin-left: 5px; */
        /* margin-right: 5px; */
        /* margin-top: 10px; */
        overflow: hidden;
        position: relative;
        vertical-align: bottom;
        /* display: inline; */
        width: 20%;
        padding: 1%;
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-haschild {
        display: inline;
        vertical-align: top
    }
    #megamenu-menu .megamenu-type-category-full .megamenu-haschild {
        display: inline;
        vertical-align: top;
    }
    #megamenu-menu .megamenu-type-information .megamenu-haschild {
        display: inline;
        vertical-align: top
    }
    #megamenu-menu .megamenu-thumb {
        width: 26px;
        margin-left: -10px;
        margin-top: -4px
    }
    #megamenu-menu .dropdown-img {
        display: inline-block;
        /* float: left; */
    }
    #megamenu-menu .megamenu-blockwithimage {
        display: inline!important;
        vertical-align: top
    }
    #megamenu-menu .megamenu-blockwithimage li {
        width: 160px;
        display: inline-block
    }
}
@media (max-width: 992px) {
    #megamenu-menu div.dropdown-inner > ul.list-unstyled {
        display: block
    }
    #megamenu-menu div.dropdown-menu {
        /* margin-left: 0!important; */
        /* padding-bottom: 10px; */
        /* background-color: rgba(0, 0, 0, 0.1); */
    }
    #megamenu-menu .dropdown-inner {
        display: block;
        padding: 0;
    }
    #megamenu-menu .dropdown-inner a {
        width: 100%;
        color: #fff
    }
    #megamenu-menu .dropdown-menu a:hover,
    #megamenu-menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1)
    }
    #megamenu-menu .megamenu-type-category-simple .megamenu-ischild {
        padding-left: 10px
    }
    #megamenu-menu .megamenu-type-category-full .megamenu-ischild {
        /* padding-left: 10px; */
        margin-left: 20px;
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-ischild {
        padding-left: 10px
    }
    #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-img {
        display: none
    }
    #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-img {
        display: none
    }
    #megamenu-menu .megamenu-type-product .megamenu-parent-img {
        display: none
    }
    #megamenu-menu .megamenu-type-product .dropprice {
        display: none
    }
    #megamenu-menu .megamenu-type-auth {
        color: #fff
    }
    #megamenu-menu .menu-add-html {
        display: none
    }
    #megamenu-menu .megamenu-thumb {
        display: none
    }
}
#megamenu-menu .nav > li > a,
dropdown-toggle {
    /* height: 65px; */
    background-color: transparent;
    padding: 14px 10px;
}
#megamenu-menu .nav > li:first-child > a {
    /* padding-left: 0 */
}
#megamenu-menu .nav>li>a, nav .main-ul>.main-li>a, nav .main-ul>.main-li>a:visited {
    font-weight: 700;
    font-size: 12px;
    /* line-height: 65px; */
    color: #fff;
    text-decoration: none;
    /* display: block; */
    text-transform: uppercase;
    letter-spacing: .1em;
}
.info-href {
    padding-left: 10px
}
.menu-add-html img{
    width: 100%;
}
.dropdown-menu .dropdown-inner.has-banner .megamenu-parent-block:nth-child(5n+5) {
        clear: both;
}
.dropdown-menu .dropdown-inner:not(.has-banner) .megamenu-parent-block:nth-child(5n+6) {
        clear: both;
}
@media screen and (max-width: 1000px){
    .close-menu,.header-menu .back-button {
background-color:#f6f6f6;
cursor:pointer
}
.navbar-header {
position:fixed;
display:none
}
    #megamenu-menu.navbar {position:fixed;z-index:600;width:320px;/* left:-320px; */top:0;height:inherit;overflow-y:scroll;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;background:#fff;height: 100%;z-index: 2000;}
    #megamenu-menu .nav>li>div {background: 0;padding-left:20px;}
    .navbar-collapse {
display:block;
visibility:inherit;
background:#fff
}
.megamenu-toggle-a,.parent-title-toggle {
position:absolute!important;
display:block;
right:0;
top:0;
width:60px!important
}
.megamenu-toggle-a:before,.parent-title-toggle:before {
position:absolute;
right:24px;
top:29px;
display:block;
width:12px;
height:2px;
background:var(--color1);
content:"";
-webkit-transition:all .1s ease-out;
-moz-transition:all .1s ease-out;
-ms-transition:all .1s ease-out;
-o-transition:all .1s ease-out;
transition:all .1s ease-out
}
.open>.megamenu-toggle-a:after,.open>.megamenu-toggle-a:before,.parent-title-toggle.opened:after,.parent-title-toggle.opened:before {
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg)
}
.megamenu-toggle-a:after,.parent-title-toggle:after {
position:absolute;
right:29px;
top:24px;
z-index:5;
display:block;
height:12px;
width:2px;
background:var(--color1);
content:"";
-webkit-transition:all .1s ease-out;
-moz-transition:all .1s ease-out;
-ms-transition:all .1s ease-out;
-o-transition:all .1s ease-out;
transition:all .1s ease-out
}
.open>.megamenu-toggle-a:after,.open>.megamenu-toggle-a:before,.parent-title-toggle.opened:after,.parent-title-toggle.opened:before {
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg)
}
#megamenu-menu .megamenu-type-category-full .megamenu-parent-block {
position:relative;
z-index:1
}
.navbar-nav>li,nav {height:auto;}
#megamenu-menu .nav li a {
font-size:15px;
font-weight:700;
padding:20px;
line-height:19px;
height:59px;
color:#333;
text-transform:uppercase
}
#megamenu-menu .dropdown-inner {
border-left:2px solid var(--color1)
}
#megamenu-menu .dropdown-inner a.megamenu-parent-img,#popup-found-cheaper-wrapper .popup_product_image {
display:none!important
}
#megamenu-menu .dropdown-menu .megamenu-ischild {display:none;}
#megamenu-menu .dropdown-menu .megamenu-ischild.megamenu-ischild-opened {
display:block;
border-left:2px solid var(--color1)
}
.nav > li {
  position: relative;
  display: block;
}

}
@media screen and (min-width: 1000px){
      .navbar-nav > li {
    float: left;
    min-height: 50px;
    line-height: 50px;
  }
    .navbar-collapse.collapse {
    display: block !important;
    float: left;
  }
    .navbar-nav {
    float: left;
  }
}